In [1]:
import pandas as pd
from itertools import islice

In [2]:
source = 'data/820Metrotech_test.txt'
clients = []
with open(source, 'r') as f:
    for client in f:
        if 'Client' in client:
            client = client.replace(':',';',1)
            n3 = (islice(f, 3))
            for n in n3:
                if 'First' in n:
                    f = n
                if 'Last' in n:
                    l = n
            clients.append(client+';'+f+';'+l)

In [3]:
df = pd.DataFrame(columns=['client', 'MAC','first','last'])

In [4]:
## Add Clients to dataframe
for client in clients:
    df = df.append(pd.Series(client.split(';'), index=['client','MAC','first','last']), ignore_index=True)

In [5]:
df.head(10)

,client,MAC,first,last
0,Client 1,MAC 00:00:00:00:00:00\n,First : Tue Apr 18 18:28:36 2017\n,Last : Tue Apr 18 19:48:04 2017\n
1,Client 1,MAC B0:70:2D:7E:C5:53\n,First : Tue Apr 18 18:28:36 2017\n,Last : Tue Apr 18 19:48:04 2017\n
2,Client 1,MAC 00:03:7F:00:00:00\n,First : Tue Apr 18 18:28:36 2017\n,Last : Tue Apr 18 19:48:04 2017\n
3,Client 1,MAC 00:04:20:F3:E1:10\n,First : Tue Apr 18 18:28:36 2017\n,Last : Tue Apr 18 19:48:04 2017\n
4,Client 1,MAC 00:04:4B:2F:66:A2\n,First : Tue Apr 18 18:28:36 2017\n,Last : Tue Apr 18 19:48:04 2017\n
5,Client 1,MAC 00:0A:E2:16:BC:2A\n,First : Tue Apr 18 18:28:36 2017\n,Last : Tue Apr 18 19:48:04 2017\n
6,Client 1,MAC 00:0A:F5:01:B9:D4\n,First : Tue Apr 18 18:28:36 2017\n,Last : Tue Apr 18 19:48:04 2017\n
7,Client 1,MAC 00:11:D9:15:73:6C\n,First : Tue Apr 18 18:28:36 2017\n,Last : Tue Apr 18 19:48:04 2017\n
8,Client 1,MAC 00:17:F2:96:6B:6C\n,First : Tue Apr 18 18:28:36 2017\n,Last : Tue Apr 18 19:48:04 2017\n
9,Client 1,MAC 00:19:9D:DE:83:C8\n,First : Tue Apr 18 18:28:36 2017\n,Last : Tue Apr 18 19:48:04 2017\n

In [6]:
## Clean up MACA Address column
df.MAC = df.MAC.str.replace('MAC ' , '')
df.MAC = df.MAC.str.replace(r'\n','')
df['first'] = df['first'].str.replace(' First      : ' , '')
df['first'] = df['first'].str.replace(r'\n','')
df['last'] = df['last'].str.replace(' Last       : ' , '')
df['last'] = df['last'].str.replace(r'\n','')

In [7]:
df.MAC.head()

0     00:00:00:00:00:00
1     B0:70:2D:7E:C5:53
2     00:03:7F:00:00:00
3     00:04:20:F3:E1:10
4     00:04:4B:2F:66:A2
Name: MAC, dtype: object

In [8]:
df['last'].head()

0     Tue Apr 18 19:48:04 2017
1     Tue Apr 18 19:48:04 2017
2     Tue Apr 18 19:48:04 2017
3     Tue Apr 18 19:48:04 2017
4     Tue Apr 18 19:48:04 2017
Name: last, dtype: object

In [9]:
num_first = df['first'].unique()
len(num_first)

1

In [10]:
num_last = df['last'].unique()
# df['last'].value_counts()
len(num_last)

1

In [11]:
## Get the number of Unique MAC addresses
num_macs = df.MAC.unique()
len(num_macs)

1162

In [12]:
## MAC addresses and the number of times they appear in the log
df.MAC.value_counts()

 78:4F:43:75:0E:7C    9
 58:BF:EA:BF:1E:40    8
 68:64:4B:D8:DA:42    4
 40:40:A7:93:77:64    4
 30:E4:DB:39:47:2F    3
 2C:F0:A2:1E:D0:34    3
 2C:20:0B:B8:59:8F    3
 14:22:DB:16:37:2E    3
 A0:99:9B:04:52:8D    3
 00:00:5E:00:01:53    3
 10:AE:60:6D:FF:7F    3
 64:9A:BE:E3:43:AE    3
 14:22:DB:26:B0:0E    3
 DC:0C:5C:94:B2:E2    3
 58:1F:AA:43:F0:9A    3
 90:C7:D8:8A:69:C8    3
 A0:99:9B:41:65:AD    3
 E8:2A:EA:46:21:C0    3
 5C:AF:06:82:ED:F6    3
 F8:BB:BF:80:29:BC    3
 48:45:20:C4:42:D5    3
 70:10:5C:B1:E1:80    3
 8C:2D:AA:35:A9:8F    2
 5C:E0:C5:4B:CF:30    2
 3C:15:C2:D7:0D:DC    2
 C8:69:CD:B2:0A:94    2
 18:65:90:12:9A:57    2
 B0:70:2D:7E:C5:53    2
 98:5F:D3:51:94:D8    2
 AC:5F:3E:7D:4B:3C    2
                     ..
 C0:56:27:6C:80:A3    1
 D2:64:35:9E:E0:83    1
 14:22:DB:16:37:28    1
 2C:F0:EE:28:4D:3A    1
 90:B6:86:15:DB:7D    1
 C4:B3:01:C6:7B:D9    1
 BC:9F:EF:C3:37:39    1
 60:F8:1D:C4:7F:7C    1
 AC:37:43:A1:EE:BE    1
 90:B6:86:73:8B:42    1
 00:26:62:BF:D7:9B    1
 60:F1:89:69:F0:11    1
 1A:69:05:3E:38:6D    1
 E0:AC:CB:67:ED:52    1
 2C:F0:EE:22:E0:C2    1
 56:81:0B:9E:5C:65    1
 3C:15:C2:D9:3C:98    1
 C0:EE:FB:26:A0:FF    1
 00:80:77:DC:54:F7    1
 DA:A1:19:CA:85:0F    1
 5C:AF:06:57:44:FA    1
 DA:A1:19:C7:C6:9F    1
 BC:6C:21:C6:77:29    1
 48:A9:D2:E1:45:E1    1
 4C:8B:30:9A:58:31    1
 E6:E5:2F:21:63:00    1
 CA:A0:A5:66:12:57    1
 B8:78:2E:07:EC:27    1
 08:66:98:CB:38:80    1
 68:A8:6D:48:F2:9C    1
Name: MAC, dtype: int64